*.swp
logs.zip
.idea
.idea/*
*.jar
target
bin/
.classpath
.project
.settings
.cache
*.class
filter.properties
tmp/*
pact/pact-tests/tmp/*
*.iml
.idea/*
!stratosphere-dist/target/stratosphere-dist-0.4-SNAPSHOT-bin/stratosphere-0.4-SNAPSHOT
